/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        --size-text-category: var(--size-grid-x-1-5);
        --size-text-title: 4.5em;

        --size-text-link-start: 1.7em;
        --size-text-link-end: var(--size-grid-x-2);
    }

    .title {
        margin-top: 0;
        margin-bottom: var(--size-grid-x-0-5);
    }

    .title br {
        display: inline;
    }

    .categories {
        grid-template-columns: repeat(1, 1fr);
        
        /*
        grid-template-rows: repeat(10, 1fr);
        */

        grid-column-gap: 0;
    }

    .category-links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
        
        /*
        grid-template-rows: repeat(5, 1fr);
        */
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
        
        /*
        grid-template-rows: repeat(4, 1fr);
        */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .categories {
        grid-template-columns: repeat(4, 1fr);
        
        /*
        grid-template-rows: repeat(3, 1fr);
        */
    }
}