:root {
    --color-bg: blue;
    --color-bg-invert: white;

    --color-border: black;
    --color-border-invert: red;
    --color-shadow: black;

    --color-text: white;
    --color-text-invert: red;
    --color-text-link: blue;

    --size-grid-x-0: 0;
    --size-grid-x-0-5: 0.5em;
    --size-grid-x-1: 1em;
    --size-grid-x-1-5: 1.5em;
    --size-grid-x-2: 2em;

    --size-text-title: 5em;
    --size-text-input: var(--size-grid-x-2);
    --size-text-category: var(--size-grid-x-2);

    --size-text-link-start: 1.3rem;
    --size-text-link-end: 1.8rem;
    
    --size-text-shadow-offset: calc(var(--size-grid-x-1) / 10);

    --text-align-start: start;
    --text-align-end: end;

    --size-border: var(--size-grid-x-0-5);

    --cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD0AAABNCAYAAAAVQGwoAAAACXBIWXMAAAsSAAALEgHS3X78AAACIUlEQVR4Ae2cTWrCQBiGP6uGrKoURApCs8lWuu+iuYRrT5BD9AY9QK/gIieIK9eCZFNctJ7AlQs3KVNUnDFxkslM/r7vARFNzOQNPrwTE+zEcQwFeQWAT8kmvKKD6KSnYVtDAHivTyQ5D3XfQROgDK3iNOfwarV6ms/nj2krW5ZlRVH0LbxdqeMqTnMOH49H2G63ss88K4xjDHIaCxQaCxQaCxQaCxQaCzpOLVVYSj5jdG5eVehKz7/JaSyU/vVer9cwm81+z69t27Y3m81YWM2o86WH3u/37Pz7RbKaUefJaSxUVVmplOF87UKX4Tw5jYVe065Fic6LnH5nF53n9r/XtGtRGZ2/+zs7OY2Fm8oSnUlwZJj32Liue9ne4XCwAWCcZ3mR8abTqbVYLDjHb0KnOFPoWpTMwQyOKo83mUzYE7f/5DQWMk1Drx1JmQsbRbfzmULrdi4vuscnp7HAvt4/APBxzjsYDFzf99/Or3e7nR0EgdFeLR12o43w8OIrwjBkd+I09uF5XJx/yGksJFVWbscbR4LTrXKcnD5BobFAobFAPZ1C+3o7Q083urepp0+Q023B9/3L+f5oNGIZv7hobXQ6AS4DOY0FFaeb39sKTtfecXI6AQqNBQqNBeppRSrv7eu5drfbvZ1ri2jo6cp7W9bL6HsayGlDOI7DOaebfr+f+/q4jj93EWE3n4amD6aEzr3F5DQWTDjN9XbtAIA/vLZjirhojMkAAAAASUVORK5CYII=);
}